* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  padding: 0.4em;
}
.container {
  margin: 0.3em 0 auto;
  background-color: rosybrown;
  color: white;
  margin-top: -1.5em;
}

h2 {
  font-weight: 500;
  font-size: 2em;
  margin: 1em;
}
/* .container {
  width: 430px;
  float: left;
} */

#form {
  position: relative;
  width: 200px;
  /* height: 498px; */
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 1em 1em 1em;
}
label {
  display: block;
  font-weight: bold;
  /* width: 130px;
  float: left; */
}
label:after {
  content: "";
}
/* #my-form-status {
  width: 500px;
  margin-top: 20px;
} */

input {
  /* width: 40%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="text"] {
  width: 40%;
  padding: 15px 20px;
  border: 1px solid rgb(198, 196, 196);
  margin: 9px 0px;
  border-radius: 5px;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid transparent;
}
input[type="text"]:focus {
  /* background-color: cadetblue; */
  /* border: 2px solid #555; */
  outline: none;
  /* width: 50%; */
}
select {
  width: 40%;
  margin: 6px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
option {
  font-style: italic;
  font-size: 10px;
  background-color: grey;
  color: #f1f1f1;
}

input[type="submit"] {
  background-color: gainsboro;
  border: none !important;
  color: #000;

  padding: 20px 25px;
  font-weight: bold;
  margin: 5px 3px;

  text-decoration: none;
  cursor: pointer;
  margin: 5px;

  border-radius: 5px;
}

input[type="submit"]:focus {
  outline: 3px solid gray;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: orange;
  box-shadow: 3px 3px 5px grey;
}
